<!DOCTYPE html>
<html>
<head><title>Rasils for Ballers</title></head>
<body>
	<header></header>
	<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
	<% end %>
	<%= yield %>
</body>
<html>